<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Anken
    </ion-title>
    <ion-item slot="end">
      <ion-avatar>
        <img (click)="presentPopover($event)" src='https://avataaars.io/?avatarStyle=Circle&topType=NoHair&accessoriesType=Prescription01&facialHairType=BeardLight&facialHairColor=Auburn&clotheType=BlazerSweater&eyeType=Wink&eyebrowType=Default&mouthType=Concerned&skinColor=Pale'/>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <!--  -->
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main">
    
  </ion-router-outlet>
</ion-content>
